.card a {
  text-decoration: none;
  color: #2b2f51;
}
.card a:after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 9;
}
.card:hover {
  box-shadow: 0px 16px 24px rgba(56, 33, 146, 0.07);
  cursor: pointer;
}
.card:focus-within {
  outline: transparent;
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 5px #4c9aff;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 62px 0;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container:hover {
  box-shadow: 0px 16px 24px rgba(56, 33, 146, 0.07);
  cursor: pointer;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.title__desktop,
.title__mobile,
.description,
.category {
  margin: 0;
}

.title__mobile {
  margin-bottom: 16px;
  color: #2b2f51;
}

.title__desktop {
  display: none;
  margin-bottom: 16px;
  color: #2b2f51;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
}

.category {
  color: #6a6c8a;
  margin-top: 24px;
}

.image {
  height: 320px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 1024px) {
  .card {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 62px;
    max-width: 800px;
  }
  .image {
    flex-basis: 180px;
    width: 180px;
    height: 180px;
  }
  .title__desktop {
    display: block;
  }
  .title__mobile {
    display: none;
  }
}
