:global(*, *:before, *:after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(html, body) {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Helvetica', Arial, sans-serif;
}

:global(.sr-only) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:global(.btn) {
  border: 1px solid #2b2f51;
  border-radius: 4px;
  color: #2b2f51;
  display: block;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0 auto;
  max-width: 288px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

:global(.btn:hover) {
  background-color: rgba(195, 198, 222, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
h3 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2rem;
}
h5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}
h6 {
  font-size: 1rem;
  font-size: 600;
  line-height: 1.5rem;
}
p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 16px 0;
}
ol,
ul {
  padding: 0 0 0 16px;
}
ol li:not(:last-child),
ul li:not(:last-child) {
  margin-bottom: 16px;
}
